RewriteEngine On


<IfModule mod_speling.c>
    CheckSpelling Off
</IfModule>
Options -Indexes


<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f


RewriteRule ^home index.php?id=home [NC,QSA,L]
RewriteRule ^all index.php?id=all [NC,QSA,L]
RewriteRule ^users index.php?id=users [NC,QSA,L]
RewriteRule ^admins index.php?id=admins [NC,QSA,L]
RewriteRule ^events index.php?id=events [NC,QSA,L]
RewriteRule ^emergency index.php?id=emergency [NC,QSA,L]
RewriteRule ^direction index.php?id=direction [NC,QSA,L]


RewriteRule ^announcements index.php?id=announcements [NC,QSA,L]
RewriteRule ^news index.php?id=news [NC,QSA,L]
RewriteRule ^gallery index.php?id=gallery [NC,QSA,L]
RewriteRule ^slider index.php?id=slider [NC,QSA,L]
RewriteRule ^guest index.php?id=guest [NC,QSA,L]

RewriteRule ^addevent index.php?id=addevent [NC,QSA,L]
RewriteRule ^editevent index.php?id=editevent [NC,QSA,L]

RewriteRule ^addannouncement index.php?id=addannouncement [NC,QSA,L]
RewriteRule ^editannouncement index.php?id=editannouncement [NC,QSA,L]

RewriteRule ^addgallery index.php?id=addgallery [NC,QSA,L]
RewriteRule ^editgallery index.php?id=editgallery [NC,QSA,L]

RewriteRule ^addnews index.php?id=addnews [NC,QSA,L]
RewriteRule ^editnews index.php?id=editnews [NC,QSA,L]

RewriteRule ^adddirection index.php?id=adddirection [NC,QSA,L]
RewriteRule ^editdirection index.php?id=editdirection [NC,QSA,L]

RewriteRule ^messages index.php?id=messages [NC,QSA,L]
RewriteRule ^notification index.php?id=notification [NC,QSA,L]
RewriteRule ^logout components/logout.php [NC,QSA,L]
